<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Choreos - Controller</title>

    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-reboot.min.css" rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- JQuery -->
    <script src="assets/js/jquery.js"></script>

    <!-- Favivon -->
    <link rel="icon" href="assets/img/choreos-favicon.png" type="image/png">
</head>

<body>
    <div class="page-header">
        <div class="container">
            <img src="assets/img/choreos_logo.png">
            <a class="nav-item nav-link float-right" href="{serverurl}/settings">Einstellungen</a>
            <a class="nav-item nav-link float-right activ-page" href="">Feedback</a>
            <a class="nav-item nav-link float-right" href="{serverurl}/control">Steuerung</a>
        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <h5>Feedback</h5>
            <hr>
        </div>
    </div>
</body>
</html>