<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Choreos - Settings</title>

    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-reboot.min.css" rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- JQuery -->
    <script src="assets/js/jquery.js"></script>

    <!-- Favivon -->
    <link rel="icon" href="assets/img/choreos-favicon.png" type="image/png">
</head>

<body>

<div class="page-header">
    <div class="container">
        <img src="assets/img/choreos_logo.png">

        <a class="nav-item nav-link float-right activ-page" href="">Einstellungen</a>
        <a class="nav-item nav-link float-right" href="{serverurl}/feedback">Feedback</a>
        <a class="nav-item nav-link float-right" href="{serverurl}/control">Steuerung</a>
    </div>
</div>

<div class="jumbotron">

    <div class="container">

        {#if changedSettings}
        <div class="infobox alert alert-success" role="alert">
            <p>Einstellungen wurden gespeichert!</p>
        </div><br><br>
        {/if}

        <form class="form-signin" action="{serverurl}/settings" method="POST">
            <div class="form-group">
                <h5>Tickets</h5>
                <hr>
                <label>URL</label>
                <input type="text" class="form-control" name="ticketurl" value="{ticketurl}" placeholder="Browseradresse zu den Tickets"><br>
                <label>Datum der Ticketverfügbarkeit</label> <br>
                <input type="date" class="form-control" name="ticketdate" value="{date}">
                <br>
                <hr>
                <button type="submit" class="float-right btn btn-success">Einstellungen übernehmen</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>