body {
    color: black;
    font-family: 'Arial';
    font-size: 1em;
}

hr {
    background-color: #ffffff;
}

h5 {
    font-family: "Arial";
}

a {
    color: #ffffff;
    font-family: 'Arial';
    font-size: 1em;
    opacity: 50%;
}

a:hover, aktiv {
    color: white;
    opacity: 100%;
}

h3 {
    margin: 0;
    display:inline;
}

.activ-page {
    color: #ffffff;
    opacity: 1;
}

.jumbotron {
    background-color: #bfbfbf;
    opacity: 1;
    border-radius: 0;
    min-height: 100vh;
}

.page-header {
    background-color: #242424;
    opacity: 1;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-radius: 1px;
}

.inactiv-scene {
    color: white;
    background-color: #242424;
    margin: 0.5%;
    opacity: 0.9;
    padding: 1%;
    border-radius: 5px;
}

.inactiv-scene:hover {
    color: white;
    background-color: #242424;
    margin: 0.5%;
    opacity: 1;
    transform: scale(1.01);
}

.activ-scene {
    color: white;
    background-color: #2a6426;
    margin: 0.5%;
    opacity: 1;
    padding: 1%;
    border-radius: 5px;
}

.infobox p {
    margin: 0%;
}

.breakline {
    background-color: #ffffff;
}

.stop {
    text-align: center;
    vertical-align: middle;
}

.stop-inactiv {
    color: white;
    background-color: #b61b1b;
    margin: 0.5%;
    opacity: 0.6;
    padding: 1%;
    border-radius: 5px;
}

.stop-activ {
    color: white;
    background-color: #b61b1b;
    margin: 0.5%;
    opacity: 0.9;
    padding: 1%;
    border-radius: 5px;
}

.card {
    background-color: #242424;
    opacity: 0.9;
    margin-bottom: 1em;
}

.card-header {
    opacity: 1;
    border-bottom-color: white;
}

.card-body {
    opacity: 0.9;
}
.card-body p {
    opacity: 1;
}

.trash-icon {
    fill: white;
}

.trash-icon:hover {
    fill: white;
    transform: scale(1.2);
}

.card {
    color:white;
}

form-group {
    margin-top: 10em;
}